@font-face {
    font-family: "ArchitectsDaughter";
    src: url("/fonts/ArchitectsDaughter.eot"); /* IE9 */
    src: url("/fonts/ArchitectsDaughter.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/ArchitectsDaughter.woff") format("woff"), /* chrome, firefox */
    url("/fonts/ArchitectsDaughter.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fonts/ArchitectsDaughter.svg#ArchitectsDaughter") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


